name: Build ZMK firmware
on:
  workflow_dispatch: # Manual trigger
  pull_request:
  push:
    branches: [main]
    tags-ignore: ["*"]
    paths:
      - "config/*"
      - "build.yaml"

jobs:
  build-firmware:
    if: "!contains(github.event.head_commit.message, '[skip-build]')"
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
